<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCMakeCert" version="2.0.9" targetFramework="net472" />
  <package id="CsvHelper" version="30.0.1" targetFramework="net48" />
  <package id="DotNetProjects.WpfToolkit.DataVisualization" version="6.1.94" targetFramework="net48" />
  <package id="DotNetZip" version="1.13.4" targetFramework="net472" />
  <package id="FiddlerCore.Trial" version="5.0.2" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net472" />
  <package id="MindFusion.Diagramming" version="6.8.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="4.6.0" targetFramework="net472" />
  <package id="System.Diagnostics.PerformanceCounter" version="7.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Windows.Forms" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="Telerik.NetworkConnections" version="0.2.0" targetFramework="net472" />
</packages>